

.bg-adm{
  background-color: rgb(134, 134, 136);
}

.bg-fundo{
  background-color: rgb(136, 134, 134);;
}

::-webkit-scrollbar {
  width: 0px;               /* width of the entire scrollbar */
}

button:hover{
  box-shadow: 5px 5px 5px black;
}


#login{
  width: 50px;
}



.cargos{
  overflow-y: scroll;
}


@media (min-width: 768px){
  .container{
    background-color: aquamarine;
  }
}