{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tela de login</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

      <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body class="body" style="background-color: rgba(0, 0, 0, 0.582)">
    <nav class="navbar-expand-lq navbar-dark bg-dark p-3 d-inline-flex w-100 justify-content-between">
      <div></div>
      <img
        class="navbar-brand rounded d-block mb-01 mt-01 w-10"
        style=" width: 250px;"
        src="{% static 'img/IASD-2.png' %}"
        alt=""
      />
      <button class="btn btn-dark">Sair</button>
    </nav>
    <div class="container" style="padding: 0">

        {% block content %}



        {% endblock content %}

    </div>
         

    <footer class="bg-dark text-light fixed-bottom">
      <div class="text-center bg-dark" style="padding: 20px">
        &copy 2023 Copyright: <a href="#">Seven Webs</a>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>