{% extends 'base.html' %}

{% block content %}
  {% if request.user.is_superuser %}
 
  <div class="container m-auto d-md-flex gap-3 mt-3 " >
      <!-- Inicio div Lista de cargos -->
      <div class="col content1 justify-content-center border rounded text-center border-0 align-middle" style="background-color: rgb(134, 134, 136);
      height: 71vh;">
        <div class=" bg-adm" style="height: 15%;">
          <h4 class="text-center mt-2">Lista de cargos</h4>
        </div>
        <div class="" style="height: 80%; overflow-y: scroll; padding: 0 10px 0 10px;">
          {% for cargo in cargos %}
            <button id="botton" class="btn btn-primary btn-sm mb-1 col-12">{{ cargo.name }}</button>
          {% endfor %}
        </div>
      </div>
      <!-- Fim div Lista de cargos -->

      <!-- inicio div Cargos -->
    <div class="col flex-collumn content justify-content-center box border rounded-2 border-0 bg-adm" style="background-color: rgb(134, 134, 136);
    height: 71vh;">
        <div class="" style="height: 15%;">
          <h4 class="text-center mt-2">Cargo</h4>
          <p class="text-center">Nomes indicados</p>
        </div>

        <div class="cargos m-auto mb-1 " style="height: 74%; overflow-y: scroll; padding: 0 10px 0 10px;" >
          <div class="">
            <div class="input-group input-group-sm mb-1">

              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input" />
              </div>
              <input type="text" class="form-control text-center" aria-label="Text input with checkbox" value="Disabled readonly input" disabled readonly />
            </div>

            <div class="input-group input-group-sm mb-1">

              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input" />
              </div>
              <input type="text" class="form-control text-center" aria-label="Text input with checkbox" value="Disabled readonly input" disabled readonly />
            </div>

            <div class="input-group input-group-sm mb-1">

              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input" />
              </div>
              <input type="text" class="form-control text-center" aria-label="Text input with checkbox" value="Disabled readonly input" disabled readonly />
            </div>

            <div class="input-group input-group-sm mb-1">

              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input" />
              </div>
              <input type="text" class="form-control text-center" aria-label="Text input with checkbox" value="Disabled readonly input" disabled readonly />
            </div>

            <div class="input-group input-group-sm mb-1">

              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input" />
              </div>
              <input type="text" class="form-control text-center" aria-label="Text input with checkbox" value="Disabled readonly input" disabled readonly />
            </div>

            <div class="input-group input-group-sm mb-1">

              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input" />
              </div>
              <input type="text" class="form-control text-center" aria-label="Text input with checkbox" value="Disabled readonly input" disabled readonly />
            </div>

            <div class="input-group input-group-sm mb-1">

              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input" />
              </div>
              <input type="text" class="form-control text-center" aria-label="Text input with checkbox" value="Disabled readonly input" disabled readonly />
            </div>

            <div class="input-group input-group-sm mb-1">

              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input" />
              </div>
              <input type="text" class="form-control text-center" aria-label="Text input with checkbox" value="Disabled readonly input" disabled readonly />
            </div>

            <div class="input-group input-group-sm mb-1">

              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input" />
              </div>
              <input type="text" class="form-control text-center" aria-label="Text input with checkbox" value="Disabled readonly input" disabled readonly />
            </div>

            <div class="input-group input-group-sm mb-1">

              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input" />
              </div>
              <input type="text" class="form-control text-center" aria-label="Text input with checkbox" value="Disabled readonly input" disabled readonly />
            </div>

            <div class="input-group input-group-sm mb-1">

              <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" aria-label="Checkbox for following text input" />
              </div>
              <input type="text" class="form-control text-center" aria-label="Text input with checkbox" value="Disabled readonly input" disabled readonly />
            </div>
  
          </div>
        </div>

        
          <div style="height: 5%; margin: 0 10px 0 10px;">
          <button class="w-100 btn btn-sm btn-success bottom-center " data-toggle="button">Finalizar Indicação</button>
          </div>
    </div>     
      <!-- Fim div Cargos -->

      <!-- inicio div Votação -->
      <div class="col content justify-content-center box border rounded-2  border-0" style="background-color: rgb(134, 134, 136);
      height: 71vh;" >
        <div style="height: 15%;">
          <h4 class="text-center mt-2">Votação</h4>
          <p class="text-center">Nomes</p>
        </div>
        <div class="m-auto mb-1" style="height: 74%; overflow-y: scroll; padding: 0 10px 0 10px; ">
          <div class="input-group input-group-sm mb-1">
            <span class="input-group-text"><input type="checkbox" name="" id="" /></span>
            <input type="text" class="form-control text-center" aria-label="Amount (to the nearest dollar)"  value="Disabled readonly input" disabled readonly />
            <span class="input-group-text">0</span>
          </div>
        </div>

        <div class="" style="height: 5%; margin: 0 10px 0 10px;">
          <button class="mb-2 w-100 btn btn-sm btn-success bottom-center" data-toggle="button">Finalizar Votação</button>
        </div>
      </div>
      <!-- fim div Votação -->

      <!-- inicio div Resultado -->
      <div class="col content justify-content-center box border rounded-2 border-0 mb-0" style="background-color: rgb(134, 134, 136);
      height: 71vh;">
        <div style="height: 15%;">
        <h4 class="text-center mt-2">Resultado</h4>
       </div>
        <div style="height: 80%; margin: 0 10px 0 10px;">

        </div>

      </div>
      <!-- Fim div Resultado -->
  </div> 
  {% else %}
    <div class="row justify-content-center mt-3" style="height: 70vh;">
      <div class="box bg-adm border-0 rounded-2 col">
        <h4 class="text-center mt-2">Cargo</h4>
        <p class="text-center">Nomes indicados</p>

        <div style="height: 71%;"></div>

        <div class="input-group">
          <select class="form-select text-center" id="inputGroupSelect04" aria-label="Example select with button addon">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <button class="btn btn-success" type="button">Indicar</button>
        </div>

      </div>

      <div class="box bg-adm border-0 rounded-2 col" style="margin-left: 5px">
        <h4 class="text-center mt-2">Resultado</h4>
      </div>
    </div>
  {% endif %}
{% endblock %}
